{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}
<h1 class="text-center fw-bold">리뷰 목록</h1>
<div class="d-flex justify-content-end">
  <button
    type="submit"
    class="btn btn-outline-dark my-3"
    onclick="location.href='{% url 'reviews:create' %}' "
  >
    작성하기
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">리뷰 제목</th>
      <th scope="col">영화 이름</th>
      <th scope="col">평점</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <th scope="row">
        <a
          href="{% url 'reviews:detail' review.pk %}"
          style="text-decoration: none"
          >{{ review.title}}</a
        >
      </th>
      <td>{{ review.movie_name}}</td>
      <td>{{ review.grade }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
